<div id="<%= dom_id rune %>">
  <p>
    <strong>Social:</strong>
    <%= rune.social %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= rune.username %>
  </p>

  <p>
    <strong>Principal:</strong>
    <%= rune.principal %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= rune.link %>
  </p>

</div>
